
			<!-- Dashboard Headline -->
			<div class="dashboard-headline">
				<h3>Post a Job</h3>
	
				<!-- Breadcrumbs -->
				<nav id="breadcrumbs" class="dark">
					<ul>
						<li><a href="#">Home</a></li>
						<li><a href="#">Dashboard</a></li>
						<li>Post a message</li>
					</ul>
				</nav>
			</div>
	
			<!-- Row -->
			<div class="row">
	
				<!-- Dashboard Box -->
				<div class="col-xl-12">
					<div class="dashboard-box margin-top-0">
	
						<!-- Headline -->
						<div class="headline">
							<h3><i class="icon-feather-folder-plus"></i> Message Form</h3>
						</div>
	
						<div class="content with-padding padding-bottom-10">
							<div class="row">
	
								<div class="col-xl-4">
									<div class="submit-field">
										<h5>Phone Number</h5>
										<input type="text" class="with-border">
									</div>
								</div>
	
								<div class="col-xl-12">
									<div class="submit-field">
										<h5>Message</h5>
										<textarea cols="30" rows="5" class="with-border"></textarea>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
	
				<div class="col-xl-12">
					<a href="#" class="button ripple-effect big margin-top-30"><i class="icon-feather-plus"></i> Send Message</a>
				</div>
			</div>
			<!-- Row / End -->
	
