<!-- Membership Plans -->
<div class="section">
	<div class="container">
		<div class="row">

			<div class="col-xl-12">
				<!-- Section Headline -->
				<div class="section-headline centered margin-top-0 margin-bottom-35">
          <h3>Subscription Plans</h3>
				</div>
			</div>


			<div class="col-xl-12">

				<!-- Billing Cycle  -->

				<!-- Pricing Plans Container -->
				<div class="pricing-plans-container">

					<!-- Plan -->
					<div class="pricing-plan">
						<h3>Basic Plan</h3>
						<div class="pricing-plan-label billed-monthly-label"><strong>{{price}} $</strong>/ monthly</div>
						<div class="pricing-plan-features">
							<strong>Features of Basic Plan</strong>
							<ul>
								<li>1 Listing</li>
								<li>30 Days Visibility</li>
								<li>Highlighted in Search Results</li>
							</ul>
						</div>
						<a routerLink="/profile/checkout" routerLinkActive="router-link-active"  class="button full-width margin-top-20" (click)="goToCheckout(price, 'Basic')">Buy Now</a>
					</div>

					<!-- Plan -->
					<div class="pricing-plan recommended">
						<div class="recommended-badge">Recommended</div>
						<h3>Standard Plan</h3>
						<div class="pricing-plan-label billed-monthly-label"><strong>{{price * 6}} $</strong>/ 6 months</div>
						<div class="pricing-plan-features">
							<strong>Features of Standard Plan</strong>
							<ul>
								<li>5 Listings</li>
								<li>60 Days Visibility</li>
								<li>Highlighted in Search Results</li>
							</ul>
						</div>
            <a routerLink="/profile/checkout" routerLinkActive="router-link-active"  class="button full-width margin-top-20" (click)="goToCheckout(price * 6, 'Standard')">Buy Now</a>
					</div>

					<!-- Plan -->
					<div class="pricing-plan">
						<h3>Extended Plan</h3>
						<div class="pricing-plan-label billed-monthly-label"><strong>{{price * 12}} $</strong>/ year</div>
						<div class="pricing-plan-features">
							<strong>Features of Extended Plan</strong>
							<ul>
								<li>Unlimited Listings Listing</li>
								<li>90 Days Visibility</li>
								<li>Highlighted in Search Results</li>
							</ul>
						</div>
						<a routerLink="/profile/checkout" routerLinkActive="router-link-active"  class="button full-width margin-top-20" (click)="goToCheckout(price * 12, 'Extended')">Buy Now</a>
          </div>
          

				</div>

      </div>
      
      <!-- <div class="paypal_section col-xl-12" #paypal></div> -->


		</div>
	</div>
</div>

<script src="https://www.paypal.com/sdk/js?client-id=AS3JLKKieETS2ocsg4X-PKPE5_q9zp1WEINeCHLTwniEjCnYPOQ1U3uuNBofUCBZo_qq_OTymJXj25S_"></script>

<!-- Membership Plans / End-->