<div class="section">
  <div class="container">
    <div class="row">

      <div class="col-xl-12">
        <!-- Section Headline -->
        <div class="section-headline centered margin-top-0 margin-bottom-70">
          <h3>SMS Services Plans</h3>
        </div>
      </div>


      <div class="col-xl-12">

        <!-- Pricing Plans Container -->
        <div class="pricing-plans-container">

          <!-- Plan -->
          <div class="pricing-plan">
            <h3>Basic Plan</h3>
            <p class="margin-top-10">We'll beat any cheaper comparable quotes.</p>
            <div class="pricing-plan-label billed-monthly-label"><strong>$6,99</strong></div>
            <div class="pricing-plan-features">
              <strong>Features of Basic Plan</strong>
              <ul>
                <li>50 messages</li>
                <li>Free 24/7 support</li>
                <li>Global coverage</li>
              </ul>
            </div>
            <a href="javascript:void(0)"  class="button full-width margin-top-20" (click)="goToCheckout(6,99, 'Basic')">Buy Now</a>
          </div>

          <!-- Plan -->
          <div class="pricing-plan recommended">
            <div class="recommended-badge">Recommended</div>
            <h3>Standard Plan</h3>
            <p class="margin-top-10">We'll beat any cheaper comparable quotes.</p>
            <div class="pricing-plan-label billed-monthly-label"><strong>$13,99</strong></div>
            <div class="pricing-plan-features">
              <strong>Features of Standard Plan</strong>
              <ul>
                <li>100 messages</li>
                <li>Free 24/7 support</li>
                <li>Global coverage</li>
              </ul>
            </div>
            <a href="javascript:void(0)"  class="button full-width margin-top-20" (click)="goToCheckout(13,99, 'Standard')">Buy Now</a>
          </div>

          <!-- Plan -->
          <div class="pricing-plan">
            <h3>Extended Plan</h3>
            <p class="margin-top-10">We'll beat any cheaper comparable quotes.</p>
            <div class="pricing-plan-label billed-monthly-label"><strong>$64,99</strong></div>
            <div class="pricing-plan-features">
              <strong>Features of Extended Plan</strong>
              <ul>
                <li>500 messages</li>
                <li>Free 24/7 support</li>
                <li>Global coverage</li>
              </ul>
            </div>
            <a href="javascript:void(0)"  class="button full-width margin-top-20" (click)="goToCheckout(64,99, 'Extended')">Buy Now</a>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>