<div class="intro-banner" data-background-image="https://wallpaperaccess.com/full/776490.jpg">
	<div class="container">

		<!-- Intro Headline -->
		<div class="row">
			<div class="col-md-12">
				<div class="banner-headline">
					<h3>
						<strong>Send & Receive Messages Worldwide.</strong>
						<br>
						<br>
						<span>Business messaging made easy. Send thousands of text messages anywhere in the world with<strong
								class="color"> Online Services.</strong> Sign up and be sending from dashboard or API within
							minutes</span>
					</h3>
				</div>
			</div>
		</div>

		<!-- Stats -->
		<div class="row">
			<div class="col-md-12">
				<ul class="intro-stats margin-top-45 hide-under-992px">
					<li>
						<strong class="counter">1,586</strong>
						<span>Users</span>
					</li>
					<li>
						<strong class="counter">3,543</strong>
						<span>Message sent</span>
					</li>
				</ul>
			</div>
		</div>

	</div>
	<div class="background-image-container" style="background-image: url('https://wallpaperaccess.com/full/776490.jpg');">
	</div>
</div>
<!-- Category Boxes -->
<div class="section margin-top-65">
	<div class="container">
		<div class="row">
			<div class="col-xl-12">

				<div class="section-headline centered margin-bottom-15">
					<h3>Popular Subscription Services</h3>
				</div>

				<!-- Category Boxes Container -->
				<div class="categories-container">

					<!-- Category Box -->
					<a href="javascript:void(0)" class="category-box">
						<div class="category-box-icon">
							<i class="icon-line-awesome-file-code-o"></i>
						</div>
						<div class="category-box-counter">612</div>
						<div class="category-box-content">
							<h3>Breaking News</h3>
							<p>Software Engineer, Web / Mobile Developer & More</p>
						</div>
					</a>

					<!-- Category Box -->
					<a href="javascript:void(0)" class="category-box">
						<div class="category-box-icon">
							<i class="icon-line-awesome-cloud-upload"></i>
						</div>
						<div class="category-box-counter">113</div>
						<div class="category-box-content">
							<h3>Sport News</h3>
							<p>Data Specialist / Scientist, Data Analyst & More</p>
						</div>
					</a>

					<!-- Category Box -->
					<a href="javascript:void(0)" class="category-box">
						<div class="category-box-icon">
							<i class="icon-line-awesome-suitcase"></i>
						</div>
						<div class="category-box-counter">186</div>
						<div class="category-box-content">
							<h3>Stock News</h3>
							<p>Auditor, Accountant, Fnancial Analyst & More</p>
						</div>
					</a>

					<!-- Category Box -->
					<a href="javascript:void(0)" class="category-box">
						<div class="category-box-icon">
							<i class="icon-line-awesome-pencil"></i>
						</div>
						<div class="category-box-counter">298</div>
						<div class="category-box-content">
							<h3>COVID-19 News</h3>
							<p>Copywriter, Creative Writer, Translator & More</p>
						</div>
					</a>
				</div>

			</div>
		</div>
	</div>
</div>
<!-- Category Boxes / End -->


<div class="section padding-top-65 padding-bottom-65">
	<div class="container">
		<div class="row">

			<div class="col-xl-12">
				<!-- Section Headline -->
				<div class="section-headline centered margin-top-0 margin-bottom-5">
					<h3>How It Works?</h3>
				</div>
			</div>

			<div class="col-xl-4 col-md-4">
				<!-- Icon Box -->
				<div class="icon-box with-line">
					<!-- Icon -->
					<div class="icon-box-circle">
						<div class="icon-box-circle-inner">
							<i class="icon-line-awesome-lock"></i>
							<div class="icon-box-check"><i class="icon-material-outline-check"></i></div>
						</div>
					</div>
					<h3>Create an Account</h3>
					<p>The Online Services Gateway dashboard is super simple to use. Whether a sole trader or a CMO, you will have
						campaigns launched in minutes.</p>
				</div>
			</div>

			<div class="col-xl-4 col-md-4">
				<!-- Icon Box -->
				<div class="icon-box with-line">
					<!-- Icon -->
					<div class="icon-box-circle">
						<div class="icon-box-circle-inner">
							<i class="icon-feather-mail"></i>
							<div class="icon-box-check"><i class="icon-material-outline-check"></i></div>
						</div>
					</div>
					<h3>Send a message</h3>
					<p>Whether it’s a bulk SMS marketing campaign or transactional SMS at scale via our SMS Gateway API you need
						to be confident your messages are being delivered. Online Serives provides that confidence by the use of
						direct
						routes and 100% Uptime SLA Guarantee.</p>
				</div>
			</div>

			<div class="col-xl-4 col-md-4">
				<!-- Icon Box -->
				<div class="icon-box">
					<!-- Icon -->
					<div class="icon-box-circle">
						<div class="icon-box-circle-inner">
							<i class="icon-feather-rss"></i>
							<div class="icon-box-check"><i class="icon-material-outline-check"></i></div>
						</div>
					</div>
					<h3>Choose a service</h3>
					<p>Automate your SMS communications without losing personalisation. Use our autoresponder service to build an
						interactive experience, picking up on SMS keywords and responding automatically.</p>
				</div>
			</div>

		</div>
	</div>
</div>
<!-- Membership Plans -->
<div class="section padding-top-60 padding-bottom-75">
	<div class="container">
		<div class="row">

			<div class="col-xl-12">
				<!-- Section Headline -->
				<div class="section-headline centered margin-top-0 margin-bottom-70">
					<h3>SMS Services Plans</h3>
				</div>
			</div>


			<div class="col-xl-12">

				<!-- Pricing Plans Container -->
				<div class="pricing-plans-container">

					<!-- Plan -->
					<div class="pricing-plan">
						<h3>Basic Plan</h3>
						<p class="margin-top-10">We'll beat any cheaper comparable quotes.</p>
						<div class="pricing-plan-label billed-monthly-label"><strong>$6,99</strong></div>
						<div class="pricing-plan-features">
							<strong>Features of Basic Plan</strong>
							<ul>
								<li>50 messages</li>
								<li>Free 24/7 support</li>
								<li>Global coverage</li>
							</ul>
						</div>
					</div>

					<!-- Plan -->
					<div class="pricing-plan recommended">
						<div class="recommended-badge">Recommended</div>
						<h3>Standard Plan</h3>
						<p class="margin-top-10">We'll beat any cheaper comparable quotes.</p>
						<div class="pricing-plan-label billed-monthly-label"><strong>$13,99</strong></div>
						<div class="pricing-plan-features">
							<strong>Features of Standard Plan</strong>
							<ul>
								<li>100 messages</li>
								<li>Free 24/7 support</li>
								<li>Global coverage</li>
							</ul>
						</div>
					</div>

					<!-- Plan -->
					<div class="pricing-plan">
						<h3>Extended Plan</h3>
						<p class="margin-top-10">We'll beat any cheaper comparable quotes.</p>
						<div class="pricing-plan-label billed-monthly-label"><strong>$64,99</strong></div>
						<div class="pricing-plan-features">
							<strong>Features of Extended Plan</strong>
							<ul>
								<li>500  messages</li>
								<li>Free 24/7 support</li>
								<li>Global coverage</li>
							</ul>
						</div>
					</div>
				</div>

			</div>

		</div>
	</div>
</div>
<!-- Features Jobs -->
<div class="section gray margin-top-45 padding-top-65 padding-bottom-75">
	<div class="container">
		<div class="row">
			<div class="col-xl-12">

				<!-- Section Headline -->
				<div class="section-headline margin-top-0 margin-bottom-35">
					<h3>Some of our hottest Friends</h3>
				</div>

				<!-- Jobs Container -->
				<div class="listings-container compact-list-layout margin-top-35">

					<!-- Job Listing -->
					<a href="javascript:void(0)" class="job-listing with-apply-button" *ngFor="let item of friend">

						<!-- Job Listing Details -->
						<div class="job-listing-details">

							<!-- Logo -->
							<div class="job-listing-company-logo">
								<img src="{{item.Avatar}}" alt="">
							</div>

							<!-- Details -->
							<div class="job-listing-description">
								<h3 class="job-listing-title">{{item.Name}}</h3>

								<!-- Job Listing Footer -->
								<div class="job-listing-footer">
									<ul>
										<li><i class="icon-material-outline-business"></i> Available <div class="verified-badge"
												title="Verified Employer" data-tippy-placement="top"></div>
										</li>
										<!-- <li><i class="icon-material-outline-location-on"></i> San Francissco</li> -->
										<!-- <li><i class="icon-material-outline-business-center"></i> Full Time</li> -->
										<!-- <li><i class="icon-material-outline-access-time"></i>{{item.Email}}</li> -->
									</ul>
								</div>
							</div>
						</div>
					</a>

				</div>
				<!-- Jobs Container / End -->

			</div>
		</div>
	</div>
</div>
<!-- Featured Jobs / End -->
<!-- Membership Plans / End-->