#wrapper {
  padding-top: 0;
}

table {
  width: 100%;
}

.chart-wrapper {
  height: 500px
}

.container {
  max-width: 1820px;
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
  background-color: #fafafa !important;

}