<header id="header-container" class="fullwidth dashboard-header not-sticky">

	<!-- Header -->
	<div id="header">
		<div class="container">
			<div class="left-side">
				<!-- Logo -->
				<div id="logo">
					<a href="javascript:void(0)"><img src="../../../assets/admin/images/logo.png" alt=""></a>
				</div>

				<nav id="navigation">
					<ul id="responsive">
						<li><a routerLink="/client/home">Home</a>
						</li>
					</ul>
				</nav>
			</div>
			<!-- Left Side Content / End -->


			<!-- Right Side Content / End -->
			<div class="right-side">

				<!-- User Menu -->
				<div class="header-widget">

					<!-- Messages -->
					<div class="header-notifications user-menu">
						<div class="header-notifications-trigger">
							<a href="javascript:void(0)">
								<div class="user-avatar status-online"><img src="{{avatar}}" alt=""></div>
							</a>
						</div>

						<!-- Dropdown -->
						<div class="header-notifications-dropdown">

							<!-- User Status -->
							<div class="user-status">

								<!-- User Name / Avatar -->
								<div class="user-details">
									<div class="user-avatar status-online"><img src="images/user-avatar-small-01.jpg" alt=""></div>
								</div>
							</div>

						</div>
					</div>

				</div>

			</div>
			<!-- Right Side Content / End -->

		</div>
	</div>
	<!-- Header / End -->

</header>