* {margin:0;padding:0;}

.spinner {
  position: fixed;
  left: 50%;
  top: 50%;
  width: 50px;
  height: 50px;
  transform: translate(-50%, -50%);
  animation: spinner-grow 1s ease;
  
  &.finish {
    animation: spinner-finish .5s ease-out;
    animation-fill-mode: forwards; 
  }
  
  &__dot {
    position: absolute;
    width: 100%;
    height: 100%;
    //background-color: #eee;
    transform-origin: 50% 50%;
    animation: spinner-rotate 1s linear infinite;
    
    &.finish {
      animation: none;
    }
    
    &::after {
      content: '';
      width: 20px;
      height: 20px;
      display: inline-block;
      position: absolute;
      z-index: 1;
      opacity: 0;
      border-radius: 10px;
      animation: spinner-dot-fadein 1s ease;
      animation-fill-mode: forwards; 
    }
    
    &--orange::after {
      background-color: orange;
      left: 50%;
      transform: translate(-50%, -50%);
      animation-delay: 0s;
    }
    &--red::after {
      background-color: red;
      left: 100%;
      top: 50%;
      transform: translate(-50%, -50%);
      animation-delay: .5s;
    }
    &--blue::after {
      background-color: blue;
      left: 50%;
      top: 100%;
      transform: translate(-50%, -50%);
      animation-delay: 1s;
    }
    &--lila::after {
      background-color: purple;
      top: 50%;
      transform: translate(-50%, -50%);
      animation-delay: 1.5s;
    }
  }
}

@keyframes spinner-rotate {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
@keyframes spinner-grow {
  0%   { width: 0; height: 0; }
  100% { width: 50px; height: 50px; }
}
@keyframes spinner-dot-fadein {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes spinner-finish {
  0%   { width: 50px; height: 50px; opacity: 1; }
  100% { width: 110%; height: 110%; opacity: 0; }
}